import(methods)
import(parallel)
importFrom(plyr)
import(rtracklayer)
import(Rsamtools)
importFrom(snpStats, ld)
import(GGtools)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(ChIPpeakAnno)
importFrom(VariantAnnotation, locateVariants)
import(org.Hs.eg.db)

exportMethods(
    "AFR.D.prime<-", "AFR.D.prime",
    "AFR.p.value<-", "AFR.p.value",
    "AFR.R.squared<-", "AFR.R.squared",
    "ALL.D.prime<-", "ALL.D.prime",
    "ALL.overlapping.snps.geno",
    "ALL.p.value<-", "ALL.p.value",
    "ALL.R.squared<-", "ALL.R.squared",
    "alt.allele<-", "alt.allele",
    "AMR.D.prime<-", "AMR.D.prime",
    "AMR.p.value<-", "AMR.p.value",
    "AMR.R.squared<-", "AMR.R.squared",
    "ASN.D.prime<-", "ASN.D.prime",
    "ASN.p.value<-",
    "ASN.p.value",
    "ASN.R.squared<-",
    "ASN.R.squared",
    "chr<-",
    "chr",
    "correlated.snps<-",
    "correlated.snps",
    "D.prime.corrsnps<-",
    "D.prime.corrsnps",
    "EUR.D.prime<-",
    "EUR.D.prime",
    "EUR.p.value<-",
    "EUR.p.value",
    "EUR.R.squared<-",
    "EUR.R.squared",
    "genotype<-",
    "genotype",
    "pop.genotype",
    "pop.genotype<-",
    "overlapping.features<-",
    "overlapping.features",
    "population<-",
    "population",
    "position<-",
    "position",
    "ref.allele<-",
    "ref.allele",
    "R.squared.corrsnps<-",
    "R.squared.corrsnps",
    "snpid<-",
    "snpid"
)

exportClasses(CorrelatedSNPs, TagSNP, TSList)

export(FuncySNP, FunciSNPAnnotateSummary, FunciSNPplot, FunciSNPbed, FunciSNPtable, FunciSNPsummaryOverlaps, FunciSNPidsFromSummary)
