import(methods)
import(parallel)
importFrom(plyr)
import(rtracklayer)
import(Rsamtools)
importFrom(snpStats, ld)
import(GGtools)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(ChIPpeakAnno)
import(ggplot2)
importFrom(VariantAnnotation, locateVariants)
importFrom(reshape, melt)

exportMethods(
    "alt.allele<-", "alt.allele",
    "chr<-",
    "chr",
    "correlated.snps<-",
    "correlated.snps",
    "yafsnp.dprime<-",
    "yafsnp.dprime",
    "genotype<-",
    "genotype",
    "pop.genotype",
    "pop.genotype<-",
    "overlapping.features<-",
    "overlapping.features",
    "population<-",
    "population",
    "position<-",
    "position",
    "ref.allele<-",
    "ref.allele",
    "yafsnp.rsq<-",
    "yafsnp.rsq",
    "yafsnp.pvalue",
    "yafsnp.pvalue<-",
    "snpid<-",
    "snpid"
)

exportClasses(CorrelatedSNPs, TagSNP, TSList)

export(getFSNPs, FunciSNPAnnotateSummary, FunciSNPplot, FunciSNPbed, FunciSNPtable, FunciSNPsummaryOverlaps, FunciSNPidsFromSummary)
